# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/*.tfvars
infra/terraform/override.tf
infra/terraform/override.tf.json
infra/terraform/*_override.tf
infra/terraform/*_override.tf.json

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
